header {
    background-color: rgba(255, 255, 255, 0.8); /* Напівпрозорий білий фон */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; /* Щоб хедер завжди був зверху */
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Розташування елементів справа */
  }
  
  nav li {
    margin: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #015366; /* Замініть "blue" на бажаний колір */
      font-weight: bold;
  }
  a:hover {
    color: yellow; /* Колір при наведенні */
  }
  .back-button {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background-color: #015366; /* Зелений колір */
    color: white;
    text-decoration: none;
    position: fixed;
    top: 60px;
    left: 10px;
  }
  
.back-button svg {
    fill: currentColor; /* Колір стрілки */
  }



body{
    background-color: #E0F4F5;
}
footer{
    background-color: #aee7ea;
  
    margin-bottom: 1px;
    left: 0;
    right: 0;
    height: 260px;
  }
  h6{
    color: black;
    margin-bottom: 8px;
    padding-top: 8px;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 1px;
    margin-top: 3px;
    justify-content: center;
    text-align: center;
    
  }
  p {
    justify-content: center;
    width: 900px;
    text-align: justify; /* Вирівнюємо текст по ширині */
    line-height: 1.5; 
  
  }
  .conteiner{
    justify-content: center;
  }
  h3{
    color: rgb(255, 255, 255);
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 2px;
    font-weight: bold;
    padding-top: 5px;
    background-color: #015366;
    text-align: center;
  }
  .title {
    font-size: 40px;
    margin-bottom: 0px;
    margin-left: 300px;
    font-family: 'Vollkorn SC', sans-serif;
    margin-top: 88px;
    
  }
.text {
    width: 1000px;
    text-align: justify; /* Вирівнюємо текст по ширині */
    line-height: 1.5; /* Збільшуємо відстань між рядками */
    margin-left: 280px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: "Vollkorn SC", serif;
  }
  .img{
    margin-left: 70px;
    top: 400px; /* Відступ від верхнього краю */
    width: 350px;
    height: 350px;
    border-radius: 500px;
    margin-top: 70px;
    border-top-color: #0792d3; /* Колір обводки */
    animation: glow 1s infinite alternate;
  }
  .img1{
    margin-left: 190px;
    top: 200px; /* Відступ від верхнього краю */
    width: 350px;
    height: 350px;
    border-radius: 500px;
    border-top-color: #0792d3; /* Колір обводки */
    animation: glow 1s infinite alternate;
  }
  .img2{
    margin-left: 1150px;
    width: 350px;
    height: 350px;
    margin-top: 20px;
    border-radius: 500px;
    transform: translateY(-379px);
  border-top-color: #0792d3; /* Колір обводки */
  animation: glow 1s infinite alternate;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 20px #0792d3;
    }
    100% {
        box-shadow: 0 0 50px #0792d3;
    }
}
.text1 {
    width: 1000px;
    text-align: justify; /* Вирівнюємо текст по ширині */
    line-height: 1.5; /* Збільшуємо відстань між рядками */
    margin-left: 280px;
    margin-top: 40px;
    font-size: 20px;
    text-align: left;
    font-family: "Vollkorn SC", serif;
    animation: colorChange 3s infinite;
  }
  h2{
    font-size: 30px;
    font-family: "Vollkorn SC", serif;
    color: #E0F4F5;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -200px;
    background-color: #015366;
    padding: 5px 10px;
  }
  .text2 {
    width: 1000px;
    text-align: justify; /* Вирівнюємо текст по ширині */
    line-height: 1.5; /* Збільшуємо відстань між рядками */
    margin-left: 280px;
    margin-top: 40px;
    font-size: 20px;
    text-align: left;
    font-family: "Vollkorn SC", serif;
    animation: colorChange 3s infinite;
  }
  .img3{
    margin-left: 60px;
    top: 300px; /* Відступ від верхнього краю */
    width: 500px;
    height: 300px;
    border-top-color: #58f56a; /* Колір обводки */
    border-radius: inherit;
    animation: glow 1s infinite alternate;
    margin-top: 20px;
  }
  .img4{
    margin-left: 800px;
    top: 300px; /* Відступ від верхнього краю */
    width: 500px;
    height: 300px;
    border-top-color: #58f56a; /* Колір обводки */
    border-radius: inherit;
    animation: glow 1s infinite alternate;
    margin-top: -350px;
  }
  .video-container {
    display: flex;
    justify-content: center;
  }
  h3{
    font-size: 30px;
    font-family: "Vollkorn SC", serif;
    color: #E0F4F5;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
    background-color: #015366;
    padding: 5px 10px;
  }
  .card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    width: 400px;
    text-align: center;
    transform: translate(5%, 1%);
    background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  flex: 1;
  min-height: 200px; /* Мінімальна висота карточки */
  padding: 20px;
  height: 500px;
  box-sizing: border-box;

}
.card1 {
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  height: 500px;
  text-align: center;
  transform: translate(140%, -100%);
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  flex: 1;
  min-height: 300px; /* Мінімальна висота карточки */
  padding: 20px;
  box-sizing: border-box;
  
}
.card2 {
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  text-align: center;
  transform: translate(267%, -201%);
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  height: 500px;
 
  flex: 1;
  min-height: 200px; /* Мінімальна висота карточки */
  padding: 20px;
  box-sizing: border-box;
}
.card-title {
    font-size: 30px;
    font-weight: bold;
}
.card-subtitle {
    margin-top: -10px;

}
.card-image {
    width: 300px;
    height: 200px;
    margin-left: 15px;
}


.card {
  /* Стилі для кожної картки */
  flex: 1; /* Займає рівну частину доступного простору */
}

.card1 {
  /* Стилі для кожної картки */
  flex: 1; /* Займає рівну частину доступного простору */
}
.card2 {
  /* Стилі для кожної картки */
  flex: 1; /* Займає рівну частину доступного простору */
}
.card3 {
  /* Стилі для кожної картки */
  flex: 1; /* Займає рівну частину доступного простору */
}