header {
  background-color: rgba(255, 255, 255, 0.8); /* Напівпрозорий білий фон */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; /* Щоб хедер завжди був зверху */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; /* Розташування елементів справа */
}

nav li {
  margin: 20px;
}

nav a {
  text-decoration: none;
  color: #015366; /* Замініть "blue" на бажаний колір */
    font-weight: bold;
}
a:hover {
  color: yellow; /* Колір при наведенні */
}

.img {
    float: left;
    width: 50%;
    height:950px;
    margin-top: -300px;
    margin-left: -80px;

  }

  footer{
    background-color: #aee7ea;
  
    margin-bottom: 10px;
    left: 0;
    right: 0;
    height: 260px;
  }
  h6{
    color: black;
    margin-bottom: 8px;
    padding-top: 8px;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 1px;
    margin-top: 3px;
    justify-content: center;
    text-align: center;
    
  }
  p {
    justify-content: center;
    text-align: center;
  
  }
  .conteiner{
    justify-content: center;
  }
  h3{
    color: rgb(255, 255, 255);
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 2px;
    font-weight: bold;
    padding-top: 5px;
    background-color: #015366;
    text-align: center;
  }


  .text {
    width: 600px;
    text-align: justify; /* Вирівнюємо текст по ширині */
    line-height: 1.5; /* Збільшуємо відстань між рядками */
    margin-left: 800px;
    margin-top: 100px;
    font-size: 20px;
    font-family: "Vollkorn SC", serif;
}
.text2 {
    width: 600px;
    text-align: justify; /* Вирівнюємо текст по ширині */
    line-height: 1.5; /* Збільшуємо відстань між рядками */
    margin-left: 800px;
    margin-top: 60px;
    font-size: 20px;
    font-family: "Vollkorn SC", serif;

}
.title {
    font-size: 50px;
    font-family: "Vollkorn SC", serif;
  font-weight: 700px;
  margin-top: 80px;
  margin-left: 850px;
}
.back-button {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background-color: #015366; /* Зелений колір */
    color: white;
    text-decoration: none;
    position: fixed;
    top: 40px;
    left: 10px;
  }
  
  .back-button svg {
    fill: currentColor; /* Колір стрілки */
  }
  h2{
    font-size: 40px;
    font-family: "Vollkorn SC", serif;
    color: #E0F4F5;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 250px;
    background-color: #015366;
    padding: 10px 20px;
}
ol li {
  line-height: 1.5; /* Збільшуємо відступ у 1.5 рази від висоти шрифту */
}
li {
  margin-top: 25px;
  font-size: 19px;
}
h4 {
  font-size: 30px;
    font-family: "Vollkorn SC", bold;
    text-align: center;
    color: black;
  animation: colorChange 1s infinite alternate;
}
@keyframes colorChange {
  from {
    color: black;
  }
  to {
    color: rgb(235, 209, 17);
  }
}
.video-container {
  display: flex;
  justify-content: center;
}